<div class="container">
  <app-search-bar></app-search-bar>
</div>

<!-- <div class="search-container">
  <div class="search-dim">
    <mat-form-field appearance="fill" class="search-select">
      <mat-label>Search Type</mat-label>
      <mat-select>
        <mat-option value="keyword">Keyword Search</mat-option>
        <mat-option value="file">File Upload</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Advanced Search" />
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div> -->
